body {
  background-color: #CBE4C1;
}

/* 
-------------------
共通部分
-------------------
*/
.content__wrapper {
  width: 300px;
  margin: 0 auto;
}

p {
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}

.section__title {
  width: 100%;
  height:30px;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  border-radius: 20px;
  border: solid 1px #707070;
  margin-top: 60px;
  margin-bottom: 30px;
}


/* font */
.large{
  font-size: 18px;
  line-height: 27px;
}
.bold{
  font-weight: bold;
}
.text__pink {
  color: #FA50D3;
}
.text__green {
  color:#1CB53B;
}

/* twitterボタン */

.twitter__btn {
  width: 180px;
  height: 35px;
  background-color: #fff;
  font-size: 8px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  text-align: left;
  position: relative;
  border: solid 1px #707070;
}

.twitter__btn img {
  width: 18px;
  height: 18px;
  position: absolute;
  top:21%;
}

.twitter__btn a {
  position: absolute;
  top: 2px;
  left: 45px;
  text-align: center;
}
.account {
  color: #4DA1E4;
}

.twitter__btn:hover {
 overflow: hidden;
 background-image: linear-gradient(45deg, #fff 0%, #91fdb7 100%);
}


.pc__br {
  display: none;
}
.sp__br {
  display: block;
}

 .pc__br2 {
    display: none;
  }
/*
-----------------
header始まり 
-----------------
*/
.header__img {
  width: 100%;
  height: 280px;
  background-image: url(../images/fran-innocenti-HRfvMO9I69U-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center center;
  position: relative;
}

/* header画像に黒を少し足す */
.header__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #061527;
  opacity: .7;
}

.header__wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25px;

}
.title {
  font-size: 22px;
  color: #22FF66;
}
.header__title {
  color:#fff;
  font-size: 22px;
}
.text__ivory {
  color: #FAF8CB;
}

/* header ペンギン */
.penguin {
  width: 90px;
  height: 90px;
}



/* 
---------------
section intro
---------------
*/

.intro__bg {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

/* 
-----------------
section community
-----------------
*/
.community__left img{
  display: block;
  margin: 36px auto 0px;
  width: 200px;
  height: 200px;
}

.community__left p {
  margin: 10px auto;
  padding: 0;
}

.text__wrapper {
  width: 230px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 35px;
  padding: 24px 9px;
  margin-bottom: 30px;
}

/* 
------------------
section join
------------------
*/
.link {
  color:#4DA1E4;
  text-decoration-line: underline;
}

/* 
--------------
top-btn
--------------
*/

.back {
  position: relative;
  margin: 0 left;
}
.allow {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -50px;
  left: 325px;
}


.back{
  width: 75px;
  height: 75px;
  position: fixed;
  right: 15px;
  bottom:60px;
  background: #3fefee;
  opacity: 0.8;
  border-radius: 50%;
  }
.back >.allow{
  position: relative;
  display: block;
  width: 75px;
  height: 75px;
  text-decoration: none;
}
.back a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 50px;
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}


.back:active{
  opacity: 1;
}

/* 
------------------
footer
------------------
*/

footer {
  background-color: #eee;
  margin-top: 80px;
  height: 50px;
  
}

footer P{
  margin: 0;
  padding: 10px;
}




/* 
-----------------------
レスポンシブ対応
-----------------------
*/
/* 1080pxを超えると以下を適用 */
@media screen and (min-width:1080px){


  /* 改行位置修正 */
  /* sp版の改行を無視、PC版の改行を適用 */
.sp__br{
  display: none;
}

.pc__br{
  display: block;
}

/* コンテンツ幅修正 */

.content__wrapper {
  width: 900px;
  margin: 0 auto;
}

/* フォントサイズ変更 */

p {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.bold{
  font-size: 24px;
}

.pc__large {
  font-size: 22px;
  line-height: 54px;
}

/* セクションタイトル修正*/
.section__title {
  width: 100%;
  height:75px;
  font-size: 36px;
  line-height: 75px;
  border-radius: 50px;
  margin: 80px 0 80px 0;
}

/* 
--------------------
headerの修正
--------------------
*/

.header__wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
}

.header__img {
  height: 640px;
}

.header__wrapper {
  padding-top: 150px;
  margin: auto;
}

.title {
  font-size: 56px;
  color: #22FF66;
  position: absolute;
  top: 0px;
  left: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.header__title {
  color:#fff;
  font-size: 56px;
  line-height: 72px;
}
.text__ivory {
  color: #FAF8CB;
}

.penguin {
  width: 300px;
  height: 300px;
}

/* 
----------------
twitterボタン修正
----------------
*/


.twitter__btn {
  width: 330px;
  font-size: 12px;
}

.twitter__btn a {
  position: absolute;
  top: 6px;
  left: 37px;
}

/* 
------------------
introセクション修正
------------------
*/

.intro {
  position: relative;
}

.intro__wrapper {
  margin-top: 80px;
  width: 100%;
}

.intro__text {
  margin-bottom: 30px;
}


.intro__text--wrapper{
  margin-top: 200px;
  text-align: center;
  transform: translate(250px);
  margin-bottom: 200px;
}

/* 男性写真位置修正 */
.bg-right {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 350px;
  right: 50px;
  z-index: -1;
}
/* 女性位置修正 */
.bg-left {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50px;
  top:1600px;
  z-index: -1;
}


/* 
---------------
communityセクション
---------------
*/
.community {
 padding-top: 50px;
}

.community__wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  width: 100%;
}

.community__left img {
  width: 425px;
  height: 425px;
  margin: 0;
}

.community__left p {
  text-align: center;
  margin-top: 18px;
}

.text__wrapper {
  width: calc(425px - 44px);
  height:475px;
  padding:0 22px 0 22px;
  margin-left: 50px;
}

.text__wrapper p{
  font-size: 14px;
}

.community .twitter__btn {
  margin-top: 80px;
}

/* 
----------
joinセクション修正
----------
*/
.join__text {
  text-align: center;
}

/* 
-----------
ruleセクション修正
-----------
*/

.rule__subtitle {
  text-align: center;
  margin: 80px 0 80px 0;
}

.rule__text {
  text-align: center;
  margin-bottom: 40px;
}

.rule {
  margin-bottom: 200px;
}

/* 
--------------
last
--------------
*/

.last__text {
  text-align: center;
  margin-bottom: 40px;
}

.message {
  margin: 80px 0;
}


/* 
---------------
上へ戻るボタン修正
---------------
*/


.back{
  width: 125px;
  height: 125px;
  position: fixed;
  right: 15px;
  bottom:200px;
  
  }
.back >.allow{
  width: 125px;
  height: 125px;

}
.back a::before{
  font-size: 100px;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -85px;
  right: 60px;
}

.back:hover {
  opacity: 1;
}



footer p{
  text-align: center;
  font-size: 18px;
}

}


/*
 スクリーンサイズが1500px以上 
のときヘッダータイトル修正
*/

@media screen and (min-width:1500px){
  .header__title {
    font-size: 72px;
  }

  .pc__br {
    display: none;
  }

  .pc__br2{
    display: block;
  }
}